* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: aqua;
}

/* task 1 */


.button {
  display: flex;
  margin: 25px auto;
  margin: 25px auto;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  background-color: blue;
  color: aquamarine;
}

#task1 {
  height: 300px;
  margin-bottom: 40px;
}

.hide {
  display: none;
  padding: 50px;
  max-width: 500px;
  height: 200px;
  margin: 10px auto;
  justify-content: flex-start;
  gap: 30px;
  background: linear-gradient(rgba(1, 1, 1, 1), rgba(1, 1, 1, 0.3));
  border: solid 2px;
  justify-content: flex-start;
  gap: 30px;
  background: linear-gradient(rgba(1, 1, 1, 1), rgba(1, 1, 1, 0.3));
  border: solid 2px;
  border-radius: 10px;
}

.div {
  display: block;
}


.input {
  display: none;
  padding: 50px;
  max-width: 500px;
  height: 50px;
  margin: 10px auto;
  justify-content: flex-start;
  gap: 30px;
  border: solid 2px;
  border-radius: 10px;
}

/* task 2 */

.collorDiv {
  display: flex;
  padding: 250px;
  max-width: 500px;
  height: 250px;
  margin: 10px auto;
  justify-content: center;
  gap: 30px;
  background: linear-gradient(rgba(1, 1, 1, 1), rgba(1, 1, 1, 0.3));
  border: solid 2px;
  border-radius: 10px;
}

.input {
  display: flex;
  margin: 0 auto;
  padding: 10px;
  border-radius: 5px;
  background-color: aquamarine;
}
