* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: aqua;
}

/* task 1 / task 2 */

.div1,
#card {
  padding: 50px;
  max-width: 500px;
  height: 250px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  background-color: blueviolet;
  border: solid 2px;
  border-radius: 10px;
}

#card a {
  background-color: blueviolet;
  color: red;
}

.testH1,
#card h2 {
  color: aqua;
  background-color: blueviolet;
}

.btn {
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  background-color: blue;
  color: aquamarine;
}

/* task 3 */

.quiz {
  max-width: 1000px;
  border: 2px solid;
  border-radius: 5px;
  margin: 10px auto;
  padding: 20px;
  background-color: blue;
}

.game {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
}

.game h1 {
  text-align: center;
  color: blanchedalmond;
  font-size: 40px;
  margin: 20px;
}

.question{
  background-color: rgb(5, 143, 143);
  padding: 20px 50px 30px;
  border: 2px solid;
  border-radius: 10px;

}

.game h2 {
  text-align: center;
  color: red;
  font-size: 30px;
  margin: 10px;
}

.game h3 {
  margin: 20px;
  color: rgb(3, 20, 20);
  font-size: 20px;
}

.game ol li {
  border: 1px solid;
  padding: 10px;
  border-radius: 10px;
  background: aqua;
  margin: 10px;
  font-size: 15px bold;
  color:rgb(15, 3, 3);
  letter-spacing: 1px;

}

.game ol li:hover{
  cursor: pointer;
  transform: scale(1.1);
  transition: ease 0.4s;
  background-color: rgb(166, 107, 221);
}

.score,
.previous,
.next{
  display: flex;
  border: 2px solid;
  max-width: 150px;
  height: 50px;
  background-color: rgb(89, 197, 197);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}

.score h3 {
  color: rgb(221, 12, 12);
  font-size: 25px;
  margin:0;
  padding: 10px;
}

.bottom-line{
  display: flex;
}

.previous,
.next{
width: 100px;
height: 40px;
font-size: 10px;
background-color: black;
letter-spacing: 1px;
}

.previous h3,
.next h3{
font-size: 15px;
color:aqua;
}

.previous:hover,
.next:hover{
  transform: scale(1.1);
  transition: ease 0.3s;
  cursor: pointer;
  background-color: rgb(166, 107, 221);
  color: aquamarine;
}